<!DOCTYPE html> 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title> Login</title>
</head>
<body onload="definirAction()">
    <div class="voltar">
    <a  href="../pagina_inicial/index.html" class="btn-floating btn-large waves-effect waves-light light-green accent-4"><i class="material-icons">arrow_back</i></a>
    </div>
    <div class="container-form">
        <span> Digite seus dados abaixo para fazer o login</span>
        <i class="large material-icons">person_pin</i>
        
        <div class="formulario col s12">
    <form action="#" method="POST" name="form-login" id="form-login">
        <div class="form-interno">
        <div class="row ">
            <div class="input-field col s12 ">
                
              <input value="" name="username" id="username" type="text" class="validate">
              <label class="active " for="username">Seu usuario</label>
            </div>
          </div>
        <div class="row">
            <div class="input-field col s12">
                <input value=""  name="senha" id="senha" type="password" class="validate">
                <label class="active" for="senha">Sua senha</label>
              </div>
        </div>  
        <div class="row">
            <button  class="btn waves-effect waves-light light-green accent-4 " type="submit" name="action">
                Entrar
              </button>
        </div>
    </div>
    </form>
</div>

</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./javascript/script.js"></script>
</body>
</html>