<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./css/style.css">1
    <title> Cadastrar usuário </title>
</head>
<body>
    <div class="titulo">
    <span>Cadastre seu usuário aqui Dr(a)</span>
    </div>
    <div class="centro">
    <div class="formulario">
    <form id="myform" name="myform" method="POST" action="http://localhost:8080/usuario/cadastrar" >
        <div class="mb-3">  
              <label for="usuarioLabel" class="form-label">Nome de usuário:</label>
              <input placeholder="Digite um nome de usuário" type="text"  class="form-control" name="username" id="username">
            </div>
            <div class="mb-3">
              <label for="senhaLabel" class="form-label">Senha:</label>
              <input type="password" placeholder="Digite uma senha"  class="form-control" name="senha" id="senha">
            </div>
            <div class="mb-3">
                <label for="medico" class="form-label">Selecione o médico</label>
                <select name="cd_medico" class="form-select" id="cd_medico" >
                    <option selected>Selecione o medico</option>            
                  </select>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          
          
    </form>
</div>

</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="./javascritp/script.js"></script>
</body>
</html>